{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Asertividad</h2>


<p>
La asertividad es una habilidad social y se refiere a la capacidad que tenemos para defender los derechos propios expresando lo que se cree, se piensa y se siente de manera clara y directa en el momento oportuno.
</p>
<p>
La asertividad es fundamental para manejar de manera clara y abierta las relaciones interpersonales, ya que permite tener un control personal sobre las diversas situaciones sociales que ha diario se nos presentan, y en donde se toman muchas decisiones que afectan nuestra vida como: fumar o no fumar, beber o no beber alcohol, tener o no tener relaciones sexuales, usar o no usar anticonceptivos, etc.
</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#caracteristicas">Caracteristicas de una persona asertiva</a></li>
    <li><a data-toggle="tab" href="#comunicacion">Comunicación asertiva</a></li>

  </ul>
  
    <div class="tab-content">
    <div id="caracteristicas" class="tab-pane fade in active">
      
      <p>
      		<ul>
      				<li>Ve y acepta la realidad.</li>
				<li>Actúa y habla con base en hechos concretos y objetivos.</li>
				<li>Toma decisiones por voluntad propia.</li>
				<li>Acepta sus errores y sus aciertos.</li>
				<li>Utiliza sus capacidades personales con gusto.</li>
				<li>No siente vergüenza de usar sus capacidades personales.</li>
				<li>Es auto afirmativo, siendo al mismo tiempo gentil y considerado.</li>
				<li>No es agresivo, está dispuesto a dirigir, así como, a dejar que otros dirijan.</li>
				<li>Puede madurar, desarrollarse y tener éxito, sin resentimientos.</li>
				<li>Permite que otros maduren, se desarrollen y tengan éxito.</li>
      		</ul>
      </p>
    </div>
    <div id="comunicacion" class="tab-pane fade">
      <p>
      <ul>
     	<li>Identificar lo que se piensa, lo que se siente y lo que se quiere.</li>
	<li>Aceptar nuestros pensamientos, sentimientos y creencias.</li>
	<li>Controlar los sentimientos que impiden la comunicación, de tal manera que no se permita que el temor o la ansiedad haga que no podamos expresarlo.</li>
	<li>Buscar el momento y la situación oportuna para decir lo que se quiere decir.</li>
	<li>Ser específicos al expresar nuestros sentimientos, deseos y pensamientos. No interpretar los mensajes de los demás.</li>
	<li>Una vez que se tiene clara la situación y lo que se va a decir, es importante dar respuestas concretas de manera rápida y directa.</li>
      </ul>
      </p>
    </div>
    </div>
{% endblock %}