{% extends "base.html" %}
{% load static %}
{% block content %}
			<h2>Autoestima</h2>
			
			<p>
				Es la capacidad de tener confianza y respeto por sí mismo
			</p>
			
			<p>
				Es un proceso dinámico, que se inicia en el núcleo familiar, y se va fortaleciendo con las experiencias que se tienen a lo largo de la vida. Si la familia (principalmente los padres) proporcionan al niño cariño, seguridad, confianza y respeto, éste adquiere las bases para una autoestima adecuada, que le permitirá sentirse apto para afrontar las situaciones problemáticas de la vida.
					
			</p>
			<h3>Características</h3>
			<ul>
				<li>Es la confianza y respeto por nosotros mismos</li>
				<li>Se estructura a través del amor, respeto con que nos nutrieron desde niños.</li>
				<li>Debe ser sentida como parte de uno mismo.</li>
				<li>No necesita del reconocimiento externo ya que se posee el reconocimiento interno.</li>
				<li>Permite crecer libres, creativos, alegres, amistosos, amorosos, sentirnos plenos y con capacidad de dar y recibir.</li>
			</ul>

{% endblock %}