{% extends "base.html" %}
{% load static %}
{% block content %}
			<h2>¿Como aumentar la autoestima?</h2>

<ul>
	<li>Saber y aceptar que todos tenemos cualidades y defectos.</li>
	<li>Saber que todos tenemos algo bueno de lo cual podemos estar orgullosos.</li>
	<li>Liberarnos de conceptos negativos sobre nosotros mismos.</li>
	<li>Aceptar que todos somos importantes y valiosos.</li>
	<li>Vivir responsablemente de acuerdo a nuestra realidad, reconociendo lo que nos gusta y lo que nos disgusta.</li>
	<li>Aprender a aceptarnos a través de lo que sentimos y de lo que somos.</li>
	<li>Liberarnos de la culpa al evaluar lo que queremos y pensamos.</li>
	<li>Actuar de acuerdo a lo que deseamos, sentimos y pensamos, sin tener como base la aprobación o desaprobación de los demás.</li>
	<li>Sentirnos responsables de nosotros mismos.</li>
	<li>Fomentar la autoestima en otros.</li>
</ul>
{% endblock %}