{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Decisiones adecuadas</h2>



<p>
Con frecuencia nos hacemos esta pregunta. Las decisiones se toman cada hora de cada día, sea consciente o inconscientemente. Algunas de ellas como por ejemplo: ¿Qué carrera estudiar?, tienen que ser sopesadas a lo largo de un período de tiempo, mientras que otras son prácticamente automáticas, como ¿Qué desayuno hoy? Tu vida es la culminación de las decisiones que has tomado y cada nueva elección la cambia ligeramente. Comprender esto es crucial para mantener un buen enfoque con respecto a la toma de decisiones.
</p>
<h3>Como tomar decisiones adecuadas</h3>
<ul>
	<li>Identificar lo que se piensa, lo que se siente y lo que se quiere.</li>
	<li>Aceptar nuestros pensamientos, sentimientos y creencias.</li>
	<li>Controlar los sentimientos que impiden la comunicación, de tal manera que no se permita que el temor o la ansiedad haga que no podamos expresarlo.</li>
	<li>Buscar el momento y la situación oportuna para decir lo que se quiere decir.</li>
	<li>Ser específicos al expresar nuestros sentimientos, deseos y pensamientos. No interpretar los mensajes de los demás.</li>
	<li>Una vez que se tiene clara la situación y lo que se va a decir, es importante dar respuestas concretas de manera rápida y directa.</li>
</ul>
{% endblock %}