{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Habilidades cognitivas</h2>



	<table class="table-bordered table-condensed">
								<tr >
									<td rowspan="3">Conciencia de uno mismo</td>
									<td>Reconocer los sentimientos propios.</td>
								</tr>
								<tr >									
									<td>Saber definir nuestros sentimientos. ¿Qué es lo que realmente siento?.</td>
								</tr>
								<tr >									
									<td>Ser congruentes con nuestros pensamientos, sentimientos y acciones.</td>
								</tr>
								
								<tr >
									<td rowspan="3">Toma de decisiones personales</td>
									<td>Reflexionar sobre nuestros comportamientos y acciones para estar conscientes de sus consecuencias.</td>
								</tr>
								<tr >									
									<td>Identificar los pensamientos y/o sentimientos que están gobernando nuestras acciones o conductas.</td>
								</tr>
								<tr >									
									<td>Fijar metas y planear diversas acciones para poder alcanzarlas.</td>
								</tr>
							
							</table>

{% endblock %}