{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Habilidades sociales</h2>
							<table class="table-bordered table-condensed">
								<tr >
									<td rowspan="5">Manejo de la comunicación</td>
									<td>Hablar claramente de lo que sentimos.</td>
								</tr>
								<tr>									
									<td>Saber escuchar y plantear preguntas cuando exista confusión en lo que nos tratan de comunicar.</td>
								</tr>
								<tr >									
									<td>Evitar que los prejuicios obstaculicen la comunicación interpersonal.</td>
								</tr>
								<tr >									
									<td>Valorar la apertura y crear confianza en una relación.</td>
								</tr>
								<tr >									
									<td>Identificar los momentos adecuados para hablar de sentimientos personales.</td>
								</tr>
								<tr >
									<td rowspan="5">Resolución de conflictos</td>
									<td>Aprender a cooperar y colaborar dentro de un grupo.</td>
								</tr>
								<tr >									
									<td>Ser tolerantes, comprensivos y negociadores.</td>
								</tr>
								<tr >									
									<td>Proponer nuestras ideas y juicios con base en hechos razonados.</td>
								</tr>
								<tr >									
									<td>Crear canales de comunicación.</td>
								</tr>
								<tr >									
									<td>Ser flexibles y evitar aferrarse a una idea, ya que esto interrumpe la comunicación.</td>
								</tr>
							</table>
							<br>

{% endblock %}