{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Metas</h2>

<p>Para alcanzar nuestras metas o aspiraciones, debemos sentirnos seguros de nosotros mismos, con control de las cosas que nos suceden, con un nivel alto de autoestima y con una clara conciencia de los valores personales que poseemos.
</p>

<h3>Como lograr nuestras metas</h3>

<ul>
	<li>Tener una autoestima alta y una jerarquía de valores.</li>
	<li>Planear el futuro a través de fijarse metas concretas, claras y específicas.</li>
	<li>Programar actividades específicas para llegar a cumplir nuestras metas.</li>
	<li>Hacer de cada experiencia una ocasión para aprender y afinar el conocimiento.</li>
	<li>Tener motivación para triunfar. Para triunfar en la vida hay que querer hacerlo, no tener miedo del triunfo y ser perseverantes en las actividades que nos conducen a alcanzar la meta que nos proponemos.</li>
</ul>
{% endblock %}