{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Planear la vida</h2>



<p>
Planear la vida implica un proceso de reflexión objetiva en el que hay que considerar factores importantes: plantearte qué metas quieres según las área de desarrollo que te interesen: deportes, estudio, trabajo, relaciones sociales, familiares, etc. El proyectar tus metas de vida especificando las conductas, las condiciones y los tiempos te motivará para triunfar, es decir el que quieras hacerlo.
</p>

<p>
Para lograr lo anterior, debes tener clara tú jerarquía de valores en la cual debes incluir altas aspiraciones para ti mismo, estar en posición de decir que quieres y que necesitas para llevarlas a cabo, de esta manera, tendrá mayores posibilidades de no involucrarte en problemas que puedan interferir en tus objetivos de vida, por ejemplo, el hacer uso de sustancias que dañen tu bienestar, o tener riesgo asociados a la sexualidad como embarazos no deseados o infecciones de transmisión sexual.
</p>

<p>
Tú sabrás que realmente estas planeando tu vida cuando de manera asertiva establezcas y desarrolles una comunicación con quienes te rodean, actúes con base en valores propios, fortalezcas tu autoestima, tomes decisiones racionales sobre las metas que a corto, mediano y largo plazo hayas decidido, de manera consciente y que dirigirán tu vida.
</p>
{% endblock %}